*.obj
*.a
*.o
Release/bitengine.tlog/
*.log
Debug/bitengine.tlog/
*.user
*.suo
*.pdb
*.sdf
ProjectFiles/BitEngine.layout
ProjectFiles/CppCheckResults.xml
ProjectFiles/BitEngine_build_log.html
Debug/vc120.idb
*.tlog
ProjectFiles/CodeBlocks/bin/
ProjectFiles/CodeBlocks/BitEngine.depend
ProjectFiles/CodeBlocks/BitEngine.layout
ProjectFiles/CodeBlocks/BitEngine_build_log.html
