
[submodule "dependencies/glm"]
	path = BitEngine/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/json"]
	path = BitEngine/dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/glfw"]
	path = BitEngine/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/stb"]
	path = BitEngine/dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/assimp"]
	path = BitEngine/dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/imgui"]
	path = BitEngine/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "BitEngine/dependencies/cr/cr"]
	path = BitEngine/dependencies/cr/cr
	url = https://github.com/fungos/cr.git
